node_modules
.next
.data
.cache
.vercel
app
lib
supabase
out
.env
.env.example
.env*.local
package.json
package-lock.json
next.config.mjs
eslint.config.mjs
jsconfig.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
